body { font-size: 12px; line-height: 18px; padding: 10px 20px; }

fieldset { border: none; padding: 4px 0; }

label { width: 160px; margin-right: 20px; }
input, label { display: block; float: left; }
	input[type="submit"] { margin-top: 8px; }

/* Clerafix */
fieldset:before,
fieldset:after,
.cf:before,
.cf:after {
    content: "";
    display: table;
}
fieldset:after,
.cf:after {
    clear: both;
}
fieldset
.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* jQuery UI overwrites */
.ui-datepicker { font-size: 12px !important; }